<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>widget_workshop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>widget_workshop_widgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>994879962CCE35FF00EEA50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994879A62CCE360000EEA50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994879B02CCE360000EEA50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994879CA2CCE384F00EEA50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
